:root{
    --main-color:  orange;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
body, h1{
    margin: 0;
}

header{
    color: var(--main-color);
    text-align: center;
    background-image: url('images/pexels-goumbik-616358.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 30px;
}

header h1, header h2{
    text-shadow: 6px 6px 2px black;
}

header .header-link{
    margin-top: 40px;
}

header a{
    margin: 0 10px;
    padding: 10px 20px;
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    color: white;
    text-decoration: none;
    box-shadow: 1px 2px 5px black;
    border-radius: 100px;
}

.section-menu h3{
    text-align: center;
    font-size: 2em;
    color: var(--main-color);
    border-radius: 10px;
    border: 4px dotted var(--main-color);
    margin: 30px 20px;
    padding: 10px;
}
.menus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}    

.menus .menu{
    width: 250px;
    height: 350px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}
.menus .menu .menu-image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menus .menu .menu-price{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.menus .menu .menu-content{
    padding: 15px;

}

.section-maps{
    background-color: gray;
}

.section-maps h3{
    font-size: 2em;
    text-align: center;
    padding-top: 30px;
}

.section-maps iframe{
    width: 100%;
}
.section-video h3{
    font-size: 2em;
    text-align: center;
    padding-top: 30px;
}

.section-video iframe{
    width: 300px;
    height: 200px;
    margin: 10px;
}

.video{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}